.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 5rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}

.header-left h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.header-left p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #666;
  width: 30vw;
}

.header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.transparent-btn {
  text-decoration: none;
  background-color: rgba(40, 114, 250, 0.04);
  border: 1px solid rgb(40, 114, 250);
  color: #0000ff;
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.transparent-btn:hover {
  background-color: #ededf8;
  color: #2872fa;
}

.dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}

.dropdown span {
  font-size: 16px;
  color: #333;
}

.arrow {
  margin-left: 5px;
  font-size: 16px;
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #0000ff;
  cursor: pointer;
}
header {
  margin-left: 60px;
  padding: 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  z-index: 1;
}

.sidebar.expanded + header {
  margin-left: 200px;
}
